.shake-it {
    animation-name: shake;
    animation-timing-function: linear;
    animation-duration: 500ms;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% {
        transform: translate(-5px,0px);
    }
    50% {
        transform: translate(5px,0px);
    }
    40% {
        transform: translate(-5px,0px);
    }
    60% {
        transform: translate(5px,0px);
    }
    80% {
        transform: translate(-5px,0px);
    }

    50% {
        opacity: translate(5px,0px);

    }
}